# webdav config
WEBDAV_HOST=
WEBDAV_PORT=
WEBDAV_USER=
WEBDAV_PASSWORD=
WEBDAV_PROTOCOL=
WEBDAV_ROOT_DIR=

# mongo config
MONGO_CONNECT_URL=

# drissionpage chrome dir config
CHROME_DIR=

# twitter like url
TWITTER_LIKE_URL=
# twitter like page ele, this indicates that the page has been fully loaded, if no configuration is made, it will wait for 10 seconds by default
TWITTER_ELE_DISPLAY=

# llm config
LLM_MODEL_NAME=
LLM_API_BASE=
LLM_API_KEY=

